<% include header1 %>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">用户信息</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            用户信息表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                    <li class="active"><a id="user2" href="#profile" data-toggle="tab">用户申请审核</a>
                                    </li>
                                <li ><a id="user1" href="#home" data-toggle="tab">已审核用户</a>
                                </li>
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade" id="home">
                                    <br>
                                    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>公司名称</th>
                                                <th>楼层</th>
                                             
                                                <th>姓名</th>
                                                <th>电话</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane fade in active" id="profile">
                                    <br>
                                    <table id="table1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>公司名称</th>
                                                <th>楼层</th>
                                                <th>姓名</th>
                                                <th>电话</th>
                                                <th>申请时间</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
            <div id="row2" class="row" style="display:none">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            门禁权限设置
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table id="table2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>门禁名称</th>
                                        <th>门禁编号</th>
                                        <th>ip</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>


    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->

    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../dist/js/jquery.dataTables.min.js"></script>
    <script src="../dist/js/dataTables.bootstrap.min.js"></script>
    <script src="../dist/js/dataTables.buttons.min.js"></script>
    <script src="../dist/js/buttons.bootstrap.min.js"></script>
    <script src="../dist/js/dataTables.select.min.js"></script>
    <script src="../dist/js/dataTables.editor.min.js"></script>
    <script src="../dist/js/editor.bootstrap.min.js"></script>
    <script>
        var editor;
        $(document).ready(function () {
            if(!<%=flag%>){
                $('#index1').css('display','none'); 
            }

            $('#user1').on('click', function () {
                $('#row2').css('display', 'block');
                table.ajax.reload();
            });
            $('#user2').on('click', function () {
                $('#row2').css('display', 'none');
                table1.ajax.reload();
            });
            editor = new $.fn.dataTable.Editor({
                ajax: {
                    edit: {
                        type: 'PUT',
                        url: '../api/json/employee/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url: '../api/json/employee/remove/_id_'
                    }
                },
                table: "#table",
                fields: [
                    { label: '公司名称', name: 'company', type: 'select' },
                    { label: '姓名', name: 'name' },
                    { label: '电话', name: 'phone' }
                ], i18n: {
                    edit: {
                        button: "编辑",
                        title: "用户资料修改",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title: "删除",
                        submit: "删除",
                        confirm: {
                            _: "确定要删除 %d 条吗?",
                            1: "确定要删除这条用户资料吗?"
                        }
                    }
                }
            });
            var table = $('#table').DataTable({
                "processing": true,
                stateSave: true,
                "dom": '<"top"Brf>t<"bottom"ilp>',
                "ajax": '../api/json/employee',
                "columns": [
                    { "data": null },
                    { "data": "companyName" },
                    { "data": "floor" },
                    
                    { "data": "name" },
                    { "data": "phone" }
                ],
                select: true,
                buttons: [

                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor }
                ],
                "order": [[1, 'asc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table.on('order.dt search.dt', function () {
                table.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            $('#table tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                table2.ajax.url('../api/json/userdoormap/' + data.userId).load();
            });

            editor2 = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: '../api/json/userdoormap/add'
                    },
                    edit: {
                        type: 'PUT',
                        url: '../api/json/userdoormap/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url: '../api/json/userdoormap/remove/_id_'
                    }
                },
                table: "#table2",
                fields: [
                    { label: '用户', name: 'user', type: 'select' },
                    { label: '门禁名称', name: 'doorid', type: 'checkbox', className: 'list' }
                ], i18n: {
                    create: {
                        button: "新增",
                        title: "新增门禁权限",
                        submit: "创建"
                    },
                    edit: {
                        button: "编辑",
                        title: "门禁权限修改",
                        submit: "更新"
                    },
                    remove: {
                        button: "删除",
                        title: "删除",
                        submit: "删除",
                        confirm: {
                            _: "确定要删除 %d 条吗?",
                            1: "确定要删除这条门禁权限信息吗?"
                        }
                    }
                }
            });
            var table2 = $('#table2').DataTable({
                "processing": true,
                stateSave: true,
                "dom": '<"top"Brf>t<"bottom"ilp>',
                "ajax": '',
                "columns": [
                    { "data": null },
                    { "data": "number" },
                    { "data": "name" },
                    { "data": "ip" }
                ],
                select: true,
                buttons: [
                    { extend: "create", editor: editor2 },
                    
                    { extend: "remove", editor: editor2 }
                ],
                "order": [[3, 'asc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table2.on('order.dt search.dt', function () {
                table2.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            editor1 = new $.fn.dataTable.Editor({
                ajax: {
                    edit: {
                        type: 'PUT',
                        url: '../api/json/employee/apply/edit/_id_'
                    },
                    remove: {
                        type: 'DELETE',
                        url: '../api/json/employee/apply/remove/_id_'
                    }
                },
                table: "#table1",
                fields: [
                    { type: 'hidden', name: 'companyId' },
                    { label: '公司名称', name: 'company', type: 'readonly' },
                    { label: '楼层', name: 'floor', type: 'readonly' },
                    { label: '姓名', name: 'name', type: 'readonly' },
                    { label: '电话', name: 'phone', type: 'readonly' },
                    { label: '微信昵称', name: 'nickname', type: 'readonly' },
                    { label: '门禁权限', name: 'door', type: 'checkbox', className: 'list' }
                ], i18n: {
                    edit: {
                        button: "审核",
                        title: "审核用户资料",
                        submit: "通过"
                    },
                    remove: {
                        button: "驳回",
                        title: "驳回",
                        submit: "驳回",
                        confirm: {
                            _: "确定要驳回 %d 条吗?",
                            1: "确定要驳回这条用户申请吗?"
                        }
                    }
                }
            });
            // editor1.on('preSubmit', function (e, o, action) {
            //     if (action !== 'remove') {
            //         var userdoormap = this.field('userdoormap');
            //         if (userdoormap.val().length == 0) {
            //             userdoormap.error('请选择授权的门禁');
            //         }
            //         if (this.inError()) {
            //             return false;
            //         }
            //     }
            // });
            var table1 = $('#table1').DataTable({
                "processing": true,
                stateSave: true,
                "dom": '<"top"Brf>t<"bottom"ilp>',
                "ajax": '../api/json/employee/apply',
                "columns": [
                    { "data": null },
                    { "data": "company" },
                    { "data": "floor" },
                    { "data": "name" },
                    { "data": "phone" },
                    { "data": "time" }
                ],
                select: true,
                buttons: [
                    { extend: "edit", editor: editor1 },
                    { extend: "remove", editor: editor1 }
                ],
                "order": [[5, 'desc']],
                "language": {
                    "url": "../vendor/zh_CN.txt"
                }
            });
            table1.on('order.dt search.dt', function () {
                table1.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });
    </script>
    <style>
        .list {
            height: 450px;
            overflow-y: scroll;
        }
    </style>
    </body>

    </html>