<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>诺丁公馆门禁系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
        .title{
            text-align: center;
            font-size: 1.5rem;
            margin-top: 1rem;
            color: #999;
        }
    </style>
</head>

<body>
    <div id="form">
        <div class="weui-btn-area"> <a id="register" href="http://www.wyhuijin.com/door/getcode.php?auk=ndregister&scope=snsapi_userinfo" class="weui-btn weui-btn_primary">业主注册</a> </div>
        <div class="weui-btn-area"> <a id="visit" href="http://www.wyhuijin.com/door/getcode.php?auk=ndvisit&scope=snsapi_userinfo" class="weui-btn weui-btn_primary">来访申请</a> </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>