<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <title>微信二维码门禁</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <h1>

  </h1>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
  <script type="text/javascript" src="../weui.js"></script>
  <script src="../socket.io.min.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://1p729i9813.51mypc.cn:16375');
    socket.emit('clientBroadcast', { room: "eventRoom", event: "<%=ip%>", data: 1 });
    weui.toast('<%=title%>', 3000);
  </script>
</body>