<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>LeanEngine websocket demo</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #term {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="term">

  </div>

  <script src="../socket.io.min.js"></script>
    <script type="text/javascript">
        var socket=io.connect('http://14961rg045.iask.in:12120');
        socket.emit('clientBroadcast',{room:"eventRoom",event:1,data:1});
    </script>
</body>
