<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>来访申请</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />

  <style>
    .header {
      text-align: center;
    }

    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }

    .header p {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <div id="form">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">你的手机号</label></div>
        <div class="weui-cell__bd"> <input id="phone" class="weui-input" type="tel" required="" pattern="^\d{11}$" maxlength="11" placeholder="输入你的手机号"
            emptytips="请输入手机号" notmatchtips="请输入正确的手机号"> </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">你的姓名</label></div>
        <div class="weui-cell__bd"> <input id="name" class="weui-input" type="text" required="" maxlength="6" placeholder="输入你的姓名" emptytips="请输入你的姓名"
            notmatchtips="请输入你的姓名">
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">被访公司名</label></div>
        <div class="weui-cell__bd"> <input id="door" class="weui-input" type="text" required="" maxlength="8" placeholder="输入被访公司名" emptytips="请输入被访公司名"
            notmatchtips="请输入被访公司名">
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">来访目的</label></div>
        <div class="weui-cell__bd"> <input id="content" class="weui-input" type="text" required="" maxlength="20" placeholder="请输入来访目的" emptytips="请输入来访目的"
            notmatchtips="请输入来访目的">
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">被访者手机号</label></div>
        <div class="weui-cell__bd"> <input id="phone2" class="weui-input" type="text" required="" maxlength="20" placeholder="请输入被访者手机号" emptytips="请输入被访者手机号"
            notmatchtips="请输入被访者手机号">
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell" id="date">
        <div class="weui-cell__hd"><label class="weui-label">来访日期</label></div>
        <div class="weui-cell__bd"> <span id="day"></span>
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
      <div class="weui-cell" id="time1">
        <div class="weui-cell__hd"><label class="weui-label">来访时间</label></div>
        <div class="weui-cell__bd"> <span id="time2"></span>
        </div>
        <div class="weui-cell__ft"> <i class="weui-icon-warn"></i> </div>
      </div>
    </div>
    <div class="weui-btn-area"> <a id="formSubmitBtn" href="javascript:" class="weui-btn weui-btn_primary">提交</a> </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
  <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
  <script type="text/javascript">
    $('#date').on("click", function () {
      weui.datePicker({
        start: new Date(), // 从今天开始
        end: 2030,
        defaultValue: [2017, 6, 9],
        onChange: function (result) {
          //console.log(result);
        },
        onConfirm: function (result) {
          $('#day').attr('data-date', result[0].value + '-' + result[1].value + '-' + result[2].value);
          $('#day').html(result[0].label + result[1].label + result[2].label);
        },
        id: 'datePicker'
      });
    });
    $('#time1').on("click", function () {
      weui.picker([
        {
          label: '1',
          value: 1
        }, {
          label: '2',
          value: 2
        }, {
          label: '3',
          value: 3
        },
        {
          label: '4',
          value: 4
        }, {
          label: '5',
          value: 5
        }, {
          label: '6',
          value: 6
        },
        {
          label: '7',
          value: 7
        }, {
          label: '8',
          value: 8
        }, {
          label: '9',
          value: 9
        },
        {
          label: '10',
          value: 10
        }, {
          label: '11',
          value: 11
        }, {
          label: '12',
          value: 12
        },
        {
          label: '13',
          value: 13
        }, {
          label: '14',
          value: 14
        }, {
          label: '15',
          value: 15
        },
        {
          label: '16',
          value: 16
        }, {
          label: '17',
          value: 17
        }, {
          label: '18',
          value: 18
        },
        {
          label: '19',
          value: 19
        }, {
          label: '20',
          value: 20
        }, {
          label: '21',
          value: 21
        },
        {
          label: '22',
          value: 22
        }, {
          label: '23',
          value: 23
        }, {
          label: '24',
          value: 24
        },
      ], [
          {
            label: '00',
            value: 00
          },
          {
            label: '15',
            value: 15
          }, {
            label: '30',
            value: 30
          }, {
            label: '45',
            value: 45
          }
        ], {
          defaultValue: ['9', '00'],
          onChange: function (result) {
            console.log(result);
          },
          onConfirm: function (result) {
            $('#time2').attr('data-date', result[0].value + ':' + result[1].value);
            $('#time2').html(result[0].label +":"+ result[1].label );
          },
          id: 'multiPickerBtn'
        });
    });

    $('#formSubmitBtn').on("click", function () {
      $.post("/visit/apply", { openid: "<%=openid%>", phone: $('#phone').val(), name: $('#name').val(), door: $('#door').val(), content: $('#content').val(), phone2: $('#phone2').val(), day: $('#day').attr('data-date') ,time:$('#time2').attr('data-date')}, function (result) {
        if (result.error == "0") {
          window.location.replace("visit/success");
        } else {
          weui.alert(result.msg);
        }
      });
    });
  </script>
</body>

</html>